:root {
  --main-color: rgb(95, 53, 12);
  --primary-color: rgb(194, 154, 84);
  --secondary-color: rgb(237, 155, 41);
  --ternary-color: rgb(250, 235, 215);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;

  background-color: var(--primary-color);
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#drum-machine {
  padding: 30px;
  margin: auto;
  border: 15px solid var(--main-color);
  display: flex;
}

#display {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.drum-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drum-pad {
  width: 100px;
  height: 80px;
  color: var(--main-color);
  background-color: var(--secondary-color);
  border: 10px solid var(--main-color);
  box-shadow: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drum-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.on-off-btn {
  width: 150px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: var(--main-color);
  cursor: pointer;
}

.on-btn,
.off-btn {
  width: 70px;
  padding: 10px;
  text-align: center;
}

.on-btn {
  background-color: greenyellow;
}

.off-btn {
  background-color: red;
}

.turn-off {
  background-color: var(--main-color);
}

.display-sound-name {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--ternary-color);
}

.volume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--ternary-color);
  height: 1Opx;
}

input[type="range"]::-webkit-slider-thumb {
  width: 50px;
  color: aqua;
}
