body {
  background-color: rgb(96, 86, 11);
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#drum-machine {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 3px solid rgb(211, 229, 50);
}
