:root {
  --main-bg-color: rgb(96, 86, 11);
  --primary-color: rgb(211, 229, 50);
  --secondary-color: rgb(68, 49, 5);
  --ternary-color: rgb(162, 172, 78);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;

  background-color: var(--main-bg-color);
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#drum-machine {
  padding: 30px;
  margin: auto;
  border: 15px solid var(--ternary-color);
  display: flex;
}

#display {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.drum-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drum-pad {
  width: 100px;
  height: 80px;
  background-color: var(--primary-color);
  border: 10px solid var(--secondary-color);
  box-shadow: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drum-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  border: 1px solid black;
}
